[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1"
psycopg2-binary = "==2.9.9"
python-dotenv = "==1.0.1"
djangorestframework = "==3.15"
djangorestframework-simplejwt = "==5.3.1"
drf-yasg = "==1.21.7"
setuptools = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
